# bank02.cfg — auto-created by ingest_zelda3_decomp.py

bank = 2

# >>> AUTO-INGESTED FROM zelda3 DECOMP — do not hand-edit between markers >>>
# Source: zelda3 decomp PC comments.
# Regenerate via: python tools/ingest_zelda3_decomp.py
# 282 entries (0 suppressed by hand-declared func).
func Intro_SetupScreen 8000 end:8054
func Intro_ValidateSram 8054 end:8116
func Intro_LoadTextPointersAndPalettes 8116 end:8136
func Module05_LoadFile 8136 end:821e
func Module_PreDungeon 821e end:838c
func Module_PreDungeon_setAmbientSfx 838c end:83bf
func Module08_OverworldLoad 83bf end:83c7
func PreOverworld_LoadProperties 83c7 end:854c
func LoadOWMusicIfNeeded 854c end:856a
func AdjustLinkBunnyStatus 856a end:8570
func ForceNonbunnyStatus 8570 end:8586
func Module1B_SpawnSelect 8586 end:8604
func Credits_LoadScene_Overworld_PrepGFX 8604 end:8697
func Credits_LoadScene_Overworld_Overlay 8697 end:86a5
func Credits_LoadScene_Overworld_LoadMap 86a5 end:86b3
func Credits_OperateScrollingAndTileMap 86b3 end:86c0
func Credits_LoadCoolBackground 86c0 end:86fd
func Credits_LoadScene_Dungeon 86fd end:87a2
func Module07_Dungeon 87a2 end:885e
func Dungeon_TryScreenEdgeTransition 885e end:88c5
func Dungeon_HandleEdgeTransitionMovement 88c5 end:88de
func Module07_00_PlayerControl 88de end:897c
func Module07_01_SubtileTransition 897c end:8995
func DungeonTransition_Subtile_ResetShutters 8995 end:89b6
func DungeonTransition_Subtile_PrepTransition 89b6 end:89d8
func DungeonTransition_Subtile_ApplyFilter 89d8 end:89f0
func DungeonTransition_Subtile_TriggerShutters 89f0 end:8a26
func Module07_02_SupertileTransition 8a26 end:8a4f
func Module07_02_00_InitializeTransition 8a4f end:8a5b
func Module07_02_01_LoadNextRoom 8a5b end:8a87
func Dungeon_InterRoomTrans_State3 8a87 end:8aa5
func Dungeon_InterRoomTrans_State10 8aa5 end:8aaf
func Dungeon_SpiralStaircase11 8aaf end:8ab3
func Dungeon_InterRoomTrans_notDarkRoom 8ab3 end:8aba
func Dungeon_InterRoomTrans_State9 8aba end:8ac4
func Dungeon_SpiralStaircase12 8ac4 end:8ac8
func Dungeon_InterRoomTrans_State4 8ac8 end:8acf
func Dungeon_InterRoomTrans_State12 8acf end:8aed
func Dungeon_Staircase14 8aed end:8aef
func Dungeon_ResetTorchBackgroundAndPlayer 8aef end:8b0c
func Dungeon_ResetTorchBackgroundAndPlayerInner 8b0c end:8b2e
func Dungeon_InterRoomTrans_State7 8b2e end:8b67
func DungeonTransition_RunFiltering 8b67 end:8b92
func Module07_02_FadedFilter 8b92 end:8bae
func Dungeon_InterRoomTrans_State15 8bae end:8bd7
func Dungeon_PlayMusicIfDefeated 8bd7 end:8c05
func Module07_03_OverlayChange 8c05 end:8c0a
func Module07_04_UnlockDoor 8c0a end:8c0f
func Module07_05_ControlShutters 8c0f end:8c14
func Module07_06_FatInterRoomStairs 8c14 end:8c78
func Module07_0E_01_HandleMusicAndResetProps 8c78 end:8ca9
func ResetTransitionPropsAndAdvance_ResetInterface 8ca9 end:8cac
func ResetTransitionPropsAndAdvanceSubmodule 8cac end:8ce2
func Dungeon_InitializeRoomFromSpecial 8ce2 end:8d10
func DungeonTransition_LoadSpriteGFX 8d10 end:8d1b
func DungeonTransition_AdjustForFatStairScroll 8d1b end:8d71
func ResetThenCacheRoomEntryProperties 8d71 end:8e0f
func DungeonTransition_TriggerBGC34UpdateAndAdvance 8e0f end:8e1d
func DungeonTransition_TriggerBGC56UpdateAndAdvance 8e1d end:8e27
func Module07_07_FallingTransition 8e27 end:8e63
func Module07_07_00_HandleMusicAndResetRoom 8e63 end:8e80
func Module07_07_06_SyncBG1and2 8e80 end:8ea1
func Module07_07_0F_FallingFadeIn 8ea1 end:8ec9
func Dungeon_PlayBlipAndCacheQuadrantVisits 8ec9 end:8ee0
func Module07_07_10_LandLinkFromFalling 8ee0 end:8efa
func Module07_07_11_CacheRoomAndSetMusic 8efa end:8f0c
func Module07_08_NorthIntraRoomStairs 8f0c end:8f35
func Module07_08_00_InitStairs 8f35 end:8f5f
func Module07_08_01_ClimbStairs 8f5f end:8f88
func Module07_10_SouthIntraRoomStairs 8f88 end:8fb1
func Module07_10_00_InitStairs 8fb1 end:8fe1
func Module07_10_01_ClimbStairs 8fe1 end:900f
func Module07_09_OpenCrackedDoor 900f end:9014
func Module07_0A_ChangeBrightness 9014 end:902d
func Module07_0B_DrainSwampPool 902d end:904a
func Module07_0C_FloodSwampWater 904a end:904f
func Module07_0D_FloodDam 904f end:9054
func Module07_0E_SpiralStairs 9054 end:9094
func Dungeon_DoubleApplyAndIncrementGrayscale 9094 end:90a1
func Module07_0E_02_ApplyFilterIf 90a1 end:90c7
func Dungeon_SyncBackgroundsFromSpiralStairs 90c7 end:915b
func Dungeon_AdvanceThenSetBossMusicUnorthodox 915b end:9165
func Dungeon_SetBossMusicUnorthodox 9165 end:919b
func Dungeon_SpiralStaircase17 919b end:91b5
func Dungeon_SpiralStaircase18 91b5 end:91c4
func Module07_0E_00_InitPriorityAndScreens 91c4 end:91dd
func Module07_0E_13_SetRoomAndLayerAndCache 91dd end:921a
func RepositionLinkAfterSpiralStairs 921a end:92b1
func SpiralStairs_MakeNearbyWallsHighPriority_Exiting 92b1 end:931d
func Module07_0F_LandingWipe 931d end:932d
func Module07_0F_00_InitSpotlight 932d end:9334
func Module07_0F_01_OperateSpotlight 9334 end:9357
func Module07_11_StraightInterroomStairs 9357 end:93bb
func Module07_11_00_PrepAndReset 93bb end:93ed
func Module07_11_01_FadeOut 93ed end:9403
func Module07_11_02_LoadAndPrepRoom 9403 end:9422
func Module07_11_03_FilterAndLoadBGChars 9422 end:942a
func Module07_11_04_FilterDoBGAndResetSprites 942a end:943b
func Module07_11_0B_PrepDestination 943b end:94e0
func Module07_11_09_LoadSpriteGraphics 94e0 end:94ed
func Module07_11_19_SetSongAndFilter 94ed end:9518
func Module07_11_11_KeepSliding 9518 end:9520
func Module07_14_RecoverFromFall 9520 end:952a
func Module07_14_00_ScrollCamera 952a end:9583
func RecoverPositionAfterDrowning 9583 end:967a
func Module07_15_WarpPad 967a end:96ac
func Module07_15_01_ApplyMosaicAndFilter 96ac end:96ba
func Module07_15_04_SyncRoomPropsAndBuildOverlay 96ba end:96ec
func Module07_15_0E_FadeInFromWarp 96ec end:970f
func Module07_15_0F_FinalizeAndCacheEntry 970f end:972a
func Module07_16_UpdatePegs 972a end:9739
func Module07_16_UpdatePegs_Step1 9739 end:974d
func Module07_16_UpdatePegs_Step2 974d end:9773
func Dungeon_UpdatePegGFXBuffer 9773 end:97c8
func Module07_17_PressurePlate 97c8 end:980a
func Module07_18_RescuedMaiden 980a end:98f7
func Module07_19_MirrorFade 98f7 end:9916
func Module07_1A_RoomDraw_OpenTriforceDoor_bounce 9916 end:9982
func Module0F_SpotlightClose 9982 end:99ca
func Dungeon_PrepExitWithSpotlight 99ca end:9a19
func Spotlight_ConfigureTableAndControl 9a19 end:9a37
func OpenSpotlight_Next2 9a37 end:9ad7
func Module10_SpotlightOpen 9ad7 end:9ae6
func Module10_00_OpenIris 9ae6 end:9af9
func Module11_DungeonFallingEntrance 9af9 end:9b1c
func Module11_02_LoadEntrance 9b1c end:9bd7
func Dungeon_LoadSongBankIfNeeded 9bd7 end:9c4a
func Module13_BossVictory_Pendant 9c4a end:9c59
func BossVictory_Heal 9c59 end:9c93
func Dungeon_StartVictorySpin 9c93 end:9cad
func Dungeon_RunVictorySpin 9cad end:9cd1
func Dungeon_CloseVictorySpin 9cd1 end:9cfc
func Module15_MirrorWarpFromAga 9cfc end:9e5f
func SetTargetOverworldWarpToPyramid 9e5f end:9e6e
func ResetAncillaAndCutscene 9e6e end:9e8a
func Module16_BossVictory_Crystal 9e8a end:9e9a
func Module16_04_FadeAndEnd 9e9a end:9edc
func Module18_GanonEmerges 9edc end:9fec
func Module19_TriforceRoom 9fec end:a1b1
func Mirror_SaveRoomData a1b1 end:a1c7
func SaveDungeonKeys a1c7 end:a1e9
func Dungeon_HandleTranslucencyAndPalette a1e9 end:a2f0
func Dungeon_AdjustAfterSpiralStairs a2f0 end:a37c
func Dungeon_AdjustForTeleportDoors a37c end:a475
func Module09_Overworld a475 end:a4cd
func OverworldOverlay_HandleRain a4cd end:a53c
func Module09_00_PlayerControl a53c end:a9c4
func OverworldHandleTransitions a9c4 end:ab08
func Overworld_LoadGFXAndScreenSize ab08 end:ab7b
func ScrollAndCheckForSOWExit ab7b end:ab88
func Module09_LoadAuxGFX ab88 end:abbc
func Overworld_FinishTransGfx abbc end:abc6
func Module09_LoadNewMapAndGFX abc6 end:abda
func Overworld_RunScrollTransition abda end:abed
func Module09_LoadNewSprites abed end:ac27
func Overworld_StartScrollTransition ac27 end:ac3a
func Overworld_EaseOffScrollTransition ac3a end:ac8f
func Module09_0A_WalkFromExiting_FacingDown ac8f end:acc2
func Module09_0B_WalkFromExiting_FacingUp acc2 end:ad4a
func Module09_09_OpenBigDoorFromExiting ad4a end:ad5c
func Overworld_DoMapUpdate32x32_B ad5c end:ad6c
func Module09_0C_OpenBigDoor ad6c end:ad7b
func Overworld_DoMapUpdate32x32_conditional ad7b end:ad85
func Overworld_DoMapUpdate32x32 ad85 end:ae5e
func Overworld_StartMosaicTransition ae5e end:af0b
func Overworld_LoadOverlays af0b end:af19
func PreOverworld_LoadOverlays af19 end:af1e
func Overworld_LoadOverlays2 af1e end:b0d2
func Module09_FadeBackInFromMosaic b0d2 end:b150
func Overworld_Func1C b150 end:b171
func OverworldMosaicTransition_LoadSpriteGraphicsAndSetMosaic b171 end:b1bb
func Overworld_Func22 b1bb end:b1c8
func Overworld_Func18 b1c8 end:b1df
func Overworld_Func19 b1df end:b1fa
func Module09_MirrorWarp b1fa end:b260
func MirrorWarp_FinalizeAndLoadDestination b260 end:b2e6
func Overworld_DrawScreenAtCurrentMirrorPosition b2e6 end:b334
func MirrorWarp_LoadSpritesAndColors b334 end:b40a
func Overworld_Func2B b40a end:b40e
func Overworld_WeathervaneExplosion b40e end:b40f
func Module09_2E_Whirlpool b40f end:b521
func Overworld_Func2F b521 end:b528
func Module09_2A_RecoverFromDrowning b528 end:b532
func Module09_2A_00_ScrollToLand b532 end:b5dc
func Dungeon_AdjustForRoomLayout b5dc end:b62e
func HandleEdgeTransitionMovementEast_RightBy8 b62e end:b63a
func Dungeon_StartInterRoomTrans_Right b63a end:b76e
func HandleEdgeTransitionMovementSouth_DownBy16 b76e end:b7ae
func Dung_HandleExitToOverworld b7ae end:b8bd
func AdjustQuadrantAndCamera_right b8bd end:b8cb
func SetAndSaveVisitedQuadrantFlags b8cb end:b8e5
func SaveQuadrantsToSram b8e5 end:b8f9
func AdjustQuadrantAndCamera_left b8f9 end:b909
func AdjustQuadrantAndCamera_down b909 end:b919
func AdjustQuadrantAndCamera_up b919 end:b929
func Dungeon_FlagRoomData_Quadrants b929 end:b947
func Dung_SaveDataForCurrentRoom b947 end:b9dc
func HandleEdgeTransition_AdjustCameraBoundaries b9dc end:ba27
func Dungeon_AdjustQuadrant ba27 end:ba31
func Dungeon_HandleCamera ba31 end:bb7b
func MirrorBg1Bg2Offs bb7b end:bb90
func Overworld_OperateCameraScroll bb90 end:bd62
func OverworldCameraBoundaryCheck bd62 end:bdc8
func DungeonTransition_AdjustCamera_X bdc8 end:bde2
func DungeonTransition_AdjustCamera_Y bde2 end:be03
func DungeonTransition_ScrollRoom be03 end:be75
func Module07_11_0A_ScrollCamera be75 end:c001
func OverworldScrollTransition c001 end:c0c3
func Overworld_SetCameraBoundaries c0c3 end:c110
func DungeonTransition_FindSubtileLanding c110 end:c12c
func SubtileTransitionCalculateLanding c12c end:c162
func Dungeon_InterRoomTrans_State13 c162 end:c170
func Dungeon_IntraRoomTrans_State5 c170 end:c191
func DungeonTransition_MoveLinkOutDoor c191 end:c1e5
func CalculateTransitionLanding c1e5 end:c242
func Overworld_FinalizeEntryOntoScreen c242 end:c2a4
func Overworld_Func1F c2a4 end:c2e4
func ConditionalMosaicControl c2e4 end:c2eb
func Overworld_ResetMosaic_alwaysIncrease c2eb end:c463
func Overworld_SetSongList c463 end:c500
func Intro_InitializeBackgroundSettings c500 end:c533
func Dungeon_LoadAndDrawEntranceRoom c533 end:c546
func Dungeon_SaveAndLoadLoadAllPalettes c546 end:c57b
func Dungeon_LoadAndDrawRoom c57b end:c5b2
func Overworld_LoadAllPalettes c5b2 end:c630
func Dungeon_LoadPalettes c630 end:c65f
func Overworld_LoadPalettesInner c65f end:c692
func OverworldLoadScreensPaletteSet c692 end:c6ad
func Overworld_LoadAreaPalettesEx c6ad end:c6eb
func SpecialOverworld_CopyPalettesToCache c6eb end:c769
func Overworld_CopyPalettesToCache c769 end:c7b8
func CleanUpAndPrepDesertPrayerHDMA c7b8 end:d8b3
func Dungeon_LoadEntrance d8b3 end:e4a3
func LoadOverworldFromDungeon e4a3 end:e58b
func Overworld_LoadNewScreenProperties e58b end:e5d4
func LoadCachedEntranceProperties e5d4 end:e851
func Overworld_EnterSpecialArea e851 end:e9bc
func LoadOverworldFromSpecialOverworld e9bc end:ec39
func FluteMenu_LoadTransport ec39 end:ec47
func Overworld_LoadBirdTravelPos ec47 end:ecdd
func FluteMenu_LoadSelectedScreenPalettes ecdd end:ed08
func FindPartnerWhirlpoolExit ed08 end:ed24
func Overworld_LoadAmbientOverlayFalse ed24 end:ed25
func Overworld_LoadAmbientOverlay ed25 end:ed59
func Overworld_LoadAndBuildScreen ed59 end:edb9
func Module08_02_LoadAndAdvance edb9 end:eec5
func Overworld_DrawQuadrantsAndOverlays eec5 end:ef29
func Overworld_HandleOverlaysAndBombDoors ef29 end:ef7a
func TriggerAndFinishMapLoadStripe_Y ef7a end:efb3
func TriggerAndFinishMapLoadStripe_X efb3 end:efe8
func SomeTileMapChange efe8 end:f031
func CreateInitialNewScreenMapToScroll f031 end:f06b
func CreateInitialOWScreenView_Big_North f06b end:f087
func CreateInitialOWScreenView_Big_South f087 end:f0c0
func CreateInitialOWScreenView_Big_West f0c0 end:f0dc
func CreateInitialOWScreenView_Big_East f0dc end:f10f
func CreateInitialOWScreenView_Small_North f10f end:f141
func CreateInitialOWScreenView_Small_South f141 end:f185
func CreateInitialOWScreenView_Small_West f185 end:f1b7
func CreateInitialOWScreenView_Small_East f1b7 end:f20e
func OverworldTransitionScrollAndLoadMap f20e end:f218
func BuildFullStripeDuringTransition_North f218 end:f238
func BuildFullStripeDuringTransition_South f238 end:f241
func BuildFullStripeDuringTransition_West f241 end:f24a
func BuildFullStripeDuringTransition_East f24a end:f273
func OverworldHandleMapScroll f273 end:f2dd
func CheckForNewlyLoadedMapAreas_North f2dd end:f311
func CheckForNewlyLoadedMapAreas_South f311 end:f345
func CheckForNewlyLoadedMapAreas_West f345 end:f37f
func CheckForNewlyLoadedMapAreas_East f37f end:f3b9
func BufferAndBuildMap16Stripes_X f3b9 end:f482
func BufferAndBuildMap16Stripes_Y f482 end:f54a
func Overworld_DecompressAndDrawAllQuadrants f54a end:f595
func Overworld_DecompressAndDrawOneQuadrant f595 end:f691
func Overworld_ParseMap32Definition f691 end:f7cb
func OverworldLoad_LoadSubOverlayMap32 f7cb end:fd0d
func LoadOverworldOverlay fd0d end:fd46
func Map16ToMap8 fd46 end:fd87
func OverworldCopyMap16ToBuffer fd87 end:fe47
func MirrorBonk_RecoverChangedTiles fe47 end:fe71
func DecompressEnemyDamageSubclasses fe71 end:febb
func Decompress_bank02 febb end:10000
# <<< END AUTO-INGESTED <<<
