# bank01.cfg — auto-created by ingest_zelda3_decomp.py

bank = 1

# >>> AUTO-INGESTED FROM zelda3 DECOMP — do not hand-edit between markers >>>
# Source: zelda3 decomp PC comments.
# Regenerate via: python tools/ingest_zelda3_decomp.py
# 212 entries (0 suppressed by hand-declared func).
func Dungeon_LoadRoom 873a end:88e4
func RoomDraw_DrawAllObjects 88e4 end:8916
func RoomData_DrawObject_Door 8916 end:893c
func RoomData_DrawObject 893c end:89dc
func RoomDraw_DrawFloors 89dc end:8a1f
func RoomDraw_FloorChunks 8a1f end:8a44
func RoomDraw_A_Many32x32Blocks 8a44 end:8d80
func RoomDraw_1x3_rightwards 8d80 end:9298
func RoomDraw_CheckIfWallIsMoved 9298 end:92d1
func MovingWall_FillReplacementBuffer 92d1 end:93f7
func Object_Table_Helper 93f7 end:95a0
func DrawWaterThing 95a0 end:97ed
func RoomDraw_4x4 97ed end:97f0
func RoomDraw_Object_Nx4 97f0 end:9819
func Object_DrawNx4_BothBgs 9819 end:9895
func RoomDraw_Rightwards2x2 9895 end:9d04
func Object_Draw_3x2 9d04 end:9d6f
func RoomDraw_WaterHoldingObject 9d6f end:9da2
func RoomDraw_SomeBigDecors 9da2 end:9e06
func RoomDraw_SingleLampCone 9e06 end:9ea3
func RoomDraw_AgahnimsWindows 9ea3 end:a095
func RoomDraw_FortuneTellerRoom a095 end:a7dc
func Object_Draw8x8 a7dc end:a81c
func RoomDraw_Door_North a81c end:a892
func Door_Up_StairMaskLocked a892 end:a8fa
func Door_PrioritizeCurDoor a8fa end:a90f
func RoomDraw_NormalRangedDoors_North a90f end:a932
func RoomDraw_OneSidedShutters_North a932 end:a984
func RoomDraw_Door_South a984 end:aa66
func RoomDraw_CheckIfLowerLayerDoors_Y aa66 end:aad7
func RoomDraw_Door_West aad7 end:ab1f
func RoomDraw_NormalRangedDoors_West ab1f end:ab99
func RoomDraw_Door_East ab99 end:abc8
func RoomDraw_NormalRangedDoors_East abc8 end:abe2
func RoomDraw_OneSidedShutters_East abe2 end:ac3b
func RoomDraw_NorthCurtainDoor ac3b end:ac70
func RoomDraw_Door_ExplodingWall ac70 end:ace4
func RoomDraw_ExplodingWallSegment ace4 end:ad25
func RoomDraw_ExplodingWallColumn ad25 end:ad41
func RoomDraw_HighRangeDoor_North ad41 end:add4
func RoomDraw_OneSidedLowerShutters_South add4 end:ae40
func RoomDraw_HighRangeDoor_West ae40 end:aef0
func RoomDraw_OneSidedLowerShutters_East aef0 end:af8b
func RoomDraw_MakeDoorHighPriority_North af8b end:afd4
func RoomDraw_MakeDoorHighPriority_South afd4 end:b017
func RoomDraw_MakeDoorHighPriority_West b017 end:b05c
func RoomDraw_MakeDoorHighPriority_East b05c end:b092
func RoomDraw_MarkDungeonToggleDoor b092 end:b09f
func RoomDraw_MarkLayerToggleDoor b09f end:b0ac
func RoomDraw_GetObjectSize_1to16 b0ac end:b0af
func Object_SizeAtoAplus15 b0af end:b0be
func RoomDraw_GetObjectSize_1to15or26 b0be end:b0cc
func RoomDraw_GetObjectSize_1to15or32 b0cc end:b0da
func RoomDraw_FlagDoorsAndGetFinalType b0da end:b1a4
func RoomDraw_MakeDoorPartsHighPriority_Y b1a4 end:b1e7
func RoomDraw_MakeDoorPartsHighPriority_X b1e7 end:b220
func RoomDraw_Downwards4x2VariableSpacing b220 end:b279
func RoomDraw_DrawObject2x2and1 b279 end:b2e1
func RoomDraw_RightwardShelfEnd b2e1 end:b2f6
func RoomDraw_RightwardBarSegment b2f6 end:b33a
func DrawBigGraySegment b33a end:b395
func RoomDraw_SinglePot b395 end:b3e1
func RoomDraw_BombableFloor b3e1 end:b493
func RoomDraw_HammerPegSingle b493 end:b4d6
func DrawObjects_PushableBlock b4d6 end:b509
func DrawObjects_LightableTorch b509 end:b564
func Dungeon_LoadHeader b564 end:b759
func Dungeon_CheckAdjacentRoomsForOpenDoors b759 end:b7ef
func Dungeon_LoadAdjacentRoomDoors b7ef end:b8b4
func Dungeon_LoadAttribute_Selectable b8b4 end:b8bf
func Dungeon_LoadAttributeTable b8bf end:b8f3
func Dungeon_LoadBasicAttribute_full b8f3 end:b967
func Dungeon_LoadObjectAttribute b967 end:be17
func Dungeon_LoadDoorAttribute be17 end:be35
func Dungeon_LoadSingleDoorAttribute be35 end:bfc1
func Door_LoadBlastWallAttr bfc1 end:c1ba
func ChangeDoorToSwitch c1ba end:c22a
func Dungeon_FlipCrystalPegAttribute c22a end:c2fd
func Dungeon_HandleRoomTags c2fd end:c328
func Dung_TagRoutine_0x00 c328 end:c329
func Dungeon_DetectStaircase c329 end:c432
func RoomTag_NorthWestTrigger c432 end:c438
func Dung_TagRoutine_0x2A c438 end:c43e
func Dung_TagRoutine_0x2B c43e end:c444
func Dung_TagRoutine_0x2C c444 end:c44a
func Dung_TagRoutine_0x2D c44a end:c450
func Dung_TagRoutine_0x2E c450 end:c456
func Dung_TagRoutine_0x2F c456 end:c45c
func Dung_TagRoutine_0x30 c45c end:c461
func RoomTag_QuadrantTrigger c461 end:c49e
func Dung_TagRoutine_TrapdoorsUp c49e end:c4bf
func RoomTag_RoomTrigger c4bf end:c4db
func RoomTag_RekillableBoss c4db end:c4e7
func RoomTag_RoomTrigger_BlockDoor c4e7 end:c508
func RoomTag_PrizeTriggerDoorDoor c508 end:c541
func RoomTag_SwitchTrigger_HoldDoor c541 end:c599
func RoomTag_SwitchTrigger_ToggleDoor c599 end:c5cf
func PushPressurePlate c5cf end:c629
func RoomTag_TorchPuzzleDoor c629 end:c67a
func RoomTag_Switch_ExplodingWall c67a end:c685
func RoomTag_PullSwitchExplodingWall c685 end:c68c
func Dung_TagRoutine_BlastWallStuff c68c end:c709
func RoomTag_GetHeartForPrize c709 end:c74e
func RoomTag_Agahnim c74e end:c767
func RoomTag_GanonDoor c767 end:c7a2
func RoomTag_KillRoomBlock c7a2 end:c7c2
func RoomTag_PushBlockForChest c7c2 end:c7cc
func RoomTag_TriggerChest c7cc end:c7d8
func RoomTag_OperateChestReveal c7d8 end:c8ae
func RoomTag_TorchPuzzleChest c8ae end:c8d4
func RoomTag_MovingWall_East c8d4 end:c969
func RoomTag_MovingWallShakeItUp c969 end:c98b
func RoomTag_MovingWall_West c98b end:ca17
func RoomTag_MovingWallTorchesCheck ca17 end:ca66
func MovingWall_MoveALittle ca66 end:ca75
func RoomTag_AdvanceGiganticWall ca75 end:ca94
func RoomTag_WaterOff ca94 end:cb1a
func RoomTag_WaterOn cb1a end:cb49
func RoomTag_WaterGate cb49 end:cbff
func Dung_TagRoutine_0x1B cbff end:cc00
func RoomTag_Holes0 cc00 end:cc04
func Dung_TagRoutine_0x23 cc04 end:cc08
func Dung_TagRoutine_0x34 cc08 end:cc0c
func Dung_TagRoutine_0x35 cc0c end:cc10
func Dung_TagRoutine_0x36 cc10 end:cc14
func Dung_TagRoutine_0x37 cc14 end:cc18
func Dung_TagRoutine_0x39 cc18 end:cc1c
func Dung_TagRoutine_0x3A cc1c end:cc1e
func Dung_TagRoutine_Func2 cc1e end:cc5b
func RoomTag_ChestHoles0 cc5b end:cc62
func Dung_TagRoutine_0x3B cc62 end:cc89
func RoomTag_Holes2 cc89 end:cc95
func RoomTag_OperateWaterFlooring cc95 end:cd39
func RoomTag_MaybeCheckShutters cd39 end:cda5
func RoomTag_GetTilemapCoords cda5 end:cdcc
func RoomTag_CheckForPressedSwitch cdcc end:ce70
func Dungeon_ProcessTorchesAndDoors ce70 end:d1f4
func Bomb_CheckForDestructibles d1f4 end:d2e8
func DrawDoorOpening_Step1 d2e8 end:d311
func DrawShutterDoorSteps d311 end:d33a
func DrawEyeWatchDoor d33a end:d373
func Door_BlastWallExploding_Draw d373 end:d38f
func OperateShutterDoors d38f end:d469
func OpenCrackedDoor d469 end:d51c
func Dungeon_LoadToggleDoorAttr_OtherEntry d51c end:d51f
func Dungeon_LoadSingleDoorTileAttribute d51f end:d5aa
func DrawCompletelyOpenDoor d5aa end:d6c1
func Dungeon_ClearAwayExplodingWall d6c1 end:d748
func Dungeon_CheckForAndIDLiftableTile d748 end:d81b
func Dungeon_PushBlock_Handler d81b end:d828
func RoomDraw_16x16Single d828 end:d8d4
func PushBlock_CheckForPit d8d4 end:d9ec
func Dungeon_LiftAndReplaceLiftable d9ec end:da71
func ThievesAttic_DrawLightenedHole da71 end:dabb
func HandleItemTileAction_Dungeon dabb end:db41
func ManipBlock_Something db41 end:e6b2
func RevealPotItem e6b2 end:e7a9
func Dungeon_UpdateTileMapWithCommonTile e7a9 end:e7df
func Dungeon_PrepSpriteInducedDma e7df end:e8bd
func Dungeon_DeleteRupeeTile e8bd end:eb66
func OpenChestForItem eb66 end:ed05
func OpenBigChest ed05 end:edab
func OpenMiniGameChest edab end:ef0f
func RoomTag_BuildChestStripes ef0f end:ef93
func Dungeon_SetAttrForActivatedWaterOff ef93 end:f046
func Dungeon_FloodSwampWater_PrepTileMap f046 end:f0c9
func Dungeon_AdjustWaterVomit f0c9 end:f237
func Dungeon_SetAttrForActivatedWater f237 end:f30c
func FloodDam_Expand f30c end:f3a7
func FloodDam_PrepTiles_init f3a7 end:f3aa
func Watergate_Main_State1 f3aa end:f3bd
func FloodDam_Fill f3bd end:f3ec
func Dungeon_LightTorch f3ec end:f496
func Ganon_ExtinguishTorch_adjust_translucency f496 end:f4a1
func Ganon_ExtinguishTorch f4a1 end:f4a6
func Dungeon_ExtinguishTorch f4a6 end:f528
func SpiralStairs_MakeNearbyWallsHighPriority_Entering f528 end:f585
func SpiralStairs_MakeNearbyWallsLowPriority f585 end:f746
func RoomDraw_AdjustTorchLightingChange f746 end:f764
func Dungeon_PrepOverlayDma_nextPrep f764 end:f77c
func Dungeon_PrepOverlayDma_watergate f77c end:f811
func ClearAndStripeExplodingWall f811 end:f967
func Dungeon_DrawRoomOverlay f967 end:fa4a
func GetDoorDrawDataIndex_North_clean_door_index fa4a end:fa54
func DoorDoorStep1_North fa54 end:faa0
func GetDoorDrawDataIndex_North faa0 end:fad7
func DrawDoorToTileMap_North fad7 end:fae3
func Object_Draw_DoorUp_4x3 fae3 end:fb0b
func GetDoorDrawDataIndex_South_clean_door_index fb0b end:fb15
func DoorDoorStep1_South fb15 end:fb61
func GetDoorDrawDataIndex_South fb61 end:fb8e
func DrawDoorToTileMap_South fb8e end:fb9b
func Object_Draw_DoorDown_4x3 fb9b end:fbc2
func GetDoorDrawDataIndex_West_clean_door_index fbc2 end:fbcc
func DoorDoorStep1_West fbcc end:fc18
func GetDoorDrawDataIndex_West fc18 end:fc45
func DrawDoorToTileMap_West fc45 end:fc80
func GetDoorDrawDataIndex_East_clean_door_index fc80 end:fc8a
func DoorDoorStep1_East fc8a end:fcd6
func GetDoorDrawDataIndex_East fcd6 end:fd03
func DrawDoorToTileMap_East fd03 end:fd79
func GetDoorGraphicsIndex fd79 end:fddb
func ClearExplodingWallFromTileMap_ClearOnePair fddb end:fe41
func Dungeon_DrawRoomOverlay_Apply fe41 end:feb0
func ApplyGrayscaleFixed_Incremental feb0 end:fec1
func Dungeon_ApproachFixedColor_variable fec1 end:fed2
func LinkZap_HandleMosaic fed2 end:fef0
func Player_SetCustomMosaicLevel fef0 end:ff05
func Dungeon_HandleLayerChange ff05 end:ff28
func CacheCameraProperties ff28 end:ffb6
func CheckAbilityToSwim ffb6 end:ffd9
func TakeDamageFromPit ffd9 end:10000
# <<< END AUTO-INGESTED <<<
