# bank07.cfg — auto-created by ingest_zelda3_decomp.py

bank = 7

# >>> AUTO-INGESTED FROM zelda3 DECOMP — do not hand-edit between markers >>>
# Source: zelda3 decomp PC comments.
# Regenerate via: python tools/ingest_zelda3_decomp.py
# 219 entries (0 suppressed by hand-declared func).
func Link_Main 8000 end:8036
func PlaySfx_SetPan 8036 end:807f
func Link_ControlHandler 807f end:8109
func LinkState_Default 8109 end:8130
func HandleLink_From1D 8130 end:81a0
func PlayerHandler_00_Ground_3 81a0 end:82da
func Link_HandleBunnyTransformation 82da end:8365
func LinkState_TemporaryBunny 8365 end:83a1
func PlayerHandler_17_Bunny 83a1 end:83c7
func LinkState_Bunny_recache 83c7 end:83fa
func Link_TempBunny_Func2 83fa end:8481
func LinkState_HoldingBigRock 8481 end:855a
func EtherTablet_StartCutscene 855a end:8570
func LinkState_ReceivingEther 8570 end:85e5
func BombosTablet_StartCutscene 85e5 end:85fb
func LinkState_ReceivingBombos 85fb end:867b
func LinkState_ReadingDesertTablet 867b end:8689
func HandleSomariaAndGraves 8689 end:86b5
func LinkState_Recoil 86b5 end:8711
func Link_HandleRecoilAndTimer 8711 end:8872
func LinkState_OnIce 8872 end:8926
func Link_HandleChangeInZVelocity 8926 end:8932
func Player_ChangeZ 8932 end:894e
func LinkHop_HoppingSouthOW 894e end:8a05
func LinkState_HandlingJump 8a05 end:8ad1
func LinkHop_FindTileToLandOnSouth 8ad1 end:8b74
func LinkState_HoppingHorizontallyOW 8b74 end:8b9b
func Link_HoppingHorizontally_FindTile_Y 8b9b end:8c44
func Link_SetToDeepWater 8c44 end:8c69
func LinkState_0F 8c69 end:8d2b
func Link_HoppingHorizontally_FindTile_X 8d2b end:8dc6
func LinkState_HoppingDiagonallyUpOW 8dc6 end:8e15
func LinkState_HoppingDiagonallyDownOW 8e15 end:8e7b
func LinkHop_FindLandingSpotDiagonallyDown 8e7b end:8f1d
func Link_SplashUponLanding 8f1d end:8f86
func LinkState_Dashing 8f86 end:915e
func LinkState_ExitingDash 915e end:9195
func Link_CancelDash 9195 end:91f1
func RepelDash 91f1 end:9222
func LinkApplyTileRebound 9222 end:9291
func Sprite_RepelDash 9291 end:92a0
func Flag67WithDirections 92a0 end:92d3
func LinkState_Pits 92d3 end:94f1
func HandleLayerOfDestination 94f1 end:9502
func DungeonPitDoDamage 9502 end:9520
func HandleDungeonLandingFromPit 9520 end:963b
func PlayerHandler_04_Swimming 963b end:9715
func Link_HandleSwimMovements 9715 end:9785
func Link_FlagMaxAccels 9785 end:97a6
func Link_SetIceMaxAccel 97a6 end:97c7
func Link_SetMomentum 97c7 end:983a
func Link_ResetSwimmingState 983a end:984b
func Link_ResetStateAfterDamagingPit 984b end:9873
func ResetAllAcceleration 9873 end:98a8
func Link_HandleSwimAccels 98a8 end:9903
func Link_SetTheMaxAccel 9903 end:996c
func LinkState_Zapped 996c end:99ac
func PlayerHandler_15_HoldItem 99ac end:99ad
func Link_ReceiveItem 99ad end:9a2c
func Link_TuckIntoBed 9a2c end:9a5a
func LinkState_Sleeping 9a5a end:9ac2
func Link_HandleSwordCooldown 9ac2 end:9b0e
func Link_HandleYItem 9b0e end:9baa
func Link_HandleAPress 9baa end:9c5f
func Link_APress_PerformBasic 9c5f end:9c66
func HandleSwordSfxAndBeam 9c66 end:9cd9
func Link_CheckForSwordSwing 9cd9 end:9d72
func HandleSwordControls 9d72 end:9d84
func Link_ResetSwordAndItemUsage 9d84 end:9d9f
func Player_Sword_SpinAttackJerks_HoldDown 9d9f end:9e63
func CalculateSwordHitBox 9e63 end:9eef
func LinkItem_Rod 9eef end:9f7b
func LinkItem_Hammer 9f7b end:a006
func LinkItem_Bow a006 end:a0bb
func LinkItem_Boomerang a0bb end:a11f
func Link_ResetBoomerangYStuff a11f end:a138
func LinkItem_Bombs a138 end:a15b
func LinkItem_Bottle a15b end:a24d
func LinkItem_Lamp a24d end:a293
func LinkItem_Powder a293 end:a313
func LinkItem_ShovelAndFlute a313 end:a32c
func LinkItem_Shovel a32c end:a3db
func LinkItem_Flute a3db end:a45f
func CallForDuckIndoors a45f end:a471
func LinkItem_Book a471 end:a494
func LinkItem_Ether a494 end:a50f
func LinkState_UsingEther a50f end:a569
func LinkItem_Bombos a569 end:a5f7
func LinkState_UsingBombos a5f7 end:a64b
func LinkItem_Quake a64b end:a6d6
func LinkState_UsingQuake a6d6 end:a77a
func Link_ActivateSpinAttack a77a end:a783
func Link_AnimateVictorySpin a783 end:a804
func LinkState_SpinAttack a804 end:a91a
func LinkItem_Mirror a91a end:a95c
func DoSwordInteractionWithTiles_Mirror a95c end:a9b1
func LinkState_CrossingWorlds a9b1 end:aa6c
func Link_PerformDesertPrayer aa6c end:aaa2
func HandleFollowersAfterMirroring aaa2 end:ab25
func LinkItem_Hookshot ab25 end:ab7c
func LinkState_Hookshotting ab7c end:adc1
func LinkItem_Cape adc1 end:ae47
func Link_ForceUnequipCape ae47 end:ae54
func Link_ForceUnequipCape_quietly ae54 end:ae65
func HaltLinkWhenUsingItems ae65 end:ae88
func Link_HandleCape_passive_LiftCheck ae88 end:ae8f
func Player_CheckHandleCapeStuff ae8f end:aec0
func LinkItem_CaneOfSomaria aec0 end:af3e
func LinkItem_CaneOfByrna af3e end:afb5
func SearchForByrnaSpark afb5 end:aff8
func LinkItem_Net aff8 end:b073
func CheckYButtonPress b073 end:b0ab
func LinkCheckMagicCost b0ab end:b0e9
func Refund_Magic b0e9 end:b107
func Link_ItemReset_FromOverworldThings b107 end:b11c
func Link_PerformThrow b11c end:b1ca
func Link_APress_LiftCarryThrow b1ca end:b281
func Link_PerformDash b281 end:b2ee
func Link_PerformGrab b2ee end:b322
func Link_APress_PullObject b322 end:b371
func Link_PerformStatueDrag b371 end:b389
func Link_APress_StatueDrag b389 end:b3e5
func Link_PerformRupeePull b3e5 end:b416
func LinkState_TreePull b416 end:b4f2
func Link_PerformRead b4f2 end:b574
func Link_PerformOpenChest b574 end:b5c0
func Link_CheckNewAPress b5c0 end:b5d6
func Link_HandleToss b5d6 end:b64f
func Link_HandleDiagonalCollision b64f end:b660
func Player_LimitDirections_Inner b660 end:b7c7
func Link_HandleCardinalCollision b7c7 end:b956
func RunSlopeCollisionChecks_VerticalFirst b956 end:b969
func RunSlopeCollisionChecks_HorizontalFirst b969 end:b97c
func CheckIfRoomNeedsDoubleLayerCheck b97c end:b9b3
func CreateVelocityFromMovingBackground b9b3 end:ba0a
func StartMovementCollisionChecks_Y ba0a end:ba35
func StartMovementCollisionChecks_Y_HandleIndoors ba35 end:bdb1
func HandlePushingBonkingSnaps_Y bdb1 end:beaf
func StartMovementCollisionChecks_Y_HandleOutdoors beaf end:c1a1
func Link_BonkAndSmash c1a1 end:c1e4
func Link_AddInVelocityYFalling c1e4 end:c1ff
func CalculateSnapScratch_Y c1ff end:c23d
func ChangeAxisOfPerpendicularDoorMovement_Y c23d end:c29f
func Link_AddInVelocityY c29f end:c2c3
func Link_HopInOrOutOfWater_Y c2c3 end:c36c
func Link_FindValidLandingTile_North c36c end:c46d
func Link_FindValidLandingTile_DiagonalNorth c46d end:c4d4
func StartMovementCollisionChecks_X c4d4 end:c4ff
func StartMovementCollisionChecks_X_HandleIndoors c4ff end:c7fc
func HandlePushingBonkingSnaps_X c7fc end:c8e9
func StartMovementCollisionChecks_X_HandleOutdoors c8e9 end:cb84
func SnapOnX cb84 end:cb9f
func CalculateSnapScratch_X cb9f end:cbdd
func ChangeAxisOfPerpendicularDoorMovement_X cbdd end:cc3c
func Link_HopInOrOutOfWater_X cc3c end:ccab
func Link_HandleDiagonalKickback ccab end:cdcb
func TileDetect_Movement_Y cdcb end:ce2a
func TileDetect_Movement_X ce2a end:ce85
func TileDetect_Movement_VerticalSlopes ce85 end:cec9
func TileDetect_Movement_HorizontalSlopes cec9 end:cf12
func Player_TileDetectNearby cf12 end:d077
func TileDetect_MainHandler d077 end:d2c6
func Link_PermissionForSloshSounds d2c6 end:d304
func PushBlock_AttemptToPushTheBlock d304 end:d383
func Link_HandleLiftables d383 end:d485
func HandleNudging d485 end:d576
func Hookshot_CheckTileCollision d576 end:d607
func Hookshot_CheckSingleLayerTileCollision d607 end:d667
func HandleNudgingInADoor d667 end:d6f4
func TileCheckForMirrorBonk d6f4 end:d73e
func TileDetect_SwordSwingDeepInDoor d73e end:d798
func TileDetect_ResetState d798 end:d9d8
func TileDetection_Execute d9d8 end:dc2e
func TileDetect_ExecuteInner dc2e end:dc4a
func TileBehavior_HandleItemAndExecute dc4a end:e026
func PushBlock_GetTargetTileFlag e026 end:e076
func FlagMovingIntoSlopes_Y e076 end:e112
func FlagMovingIntoSlopes_X e112 end:e1be
func Link_HandleRecoiling e1be end:e1d7
func Player_HandleIncapacitated_Inner2 e1d7 end:e245
func Link_HandleVelocity e245 end:e370
func Link_MovePosition e370 end:e3e0
func Link_HandleVelocityAndSandDrag e3e0 end:e42a entry_s_offset:1
func HandleSwimStrokeAndSubpixels e42a end:e4d3
func Player_SomethingWithVelocity_TiredOrSwim e4d3 end:e595
func Link_HandleMovingFloor e595 end:e5cd
func Link_ApplyMovingFloorVelocity e5cd end:e5f0
func Link_ApplyConveyor e5f0 end:e6a6
func Link_HandleMovingAnimation_FullLongEntry e6a6 end:e704
func Link_HandleMovingAnimation_StartWithDash e704 end:e7fa
func Link_HandleMovingAnimationSwimming e7fa end:e88f
func Link_HandleMovingAnimation_Dash e88f end:e8f0
func HandleIndoorCameraAndDoors e8f0 end:e901
func HandleDoorTransitions e901 end:e9d3
func ApplyLinksMovementToCamera e9d3 end:ea06
func DesertPrayer_InitializeIrisHDMA ea06 end:ea27
func DesertPrayer_BuildIrisHDMATable ea27 end:ecdc
func DesertHDMA_CalculateIrisShapeLine ecdc end:ed2c
func FindFreeMovingBlockSlot ed2c end:ed3f
func InitializePushBlock ed3f end:edb5
func PushBlock_Slide edb5 end:edf9
func PushBlock_HandleFalling edf9 end:ee35
func PushBlock_ApplyVelocity ee35 end:efb9
func PushBlock_HandleCollision efb9 end:f0ac
func Sprite_Dungeon_DrawAllPushBlocks f0ac end:f0d9
func Sprite_Dungeon_DrawSinglePushBlock f0d9 end:f13c
func Link_Initialize f13c end:f1a3
func Link_ResetProperties_A f1a3 end:f1e6
func Link_ResetProperties_B f1e6 end:f1fa
func Link_ResetProperties_C f1fa end:f25a
func UsedForStraightInterRoomStaircase f25a end:f2c1
func HandleLinkOnSpiralStairs f2c1 end:f391
func SpiralStairs_FindLandingSpot f391 end:f439
func Link_CheckForEdgeScreenTransition f439 end:f46f
func Follower_ValidateMessageFreedom f46f end:f49c
func TriforceRoom_LinkApproachTriforce f49c end:f4d0
func Sprite_CheckIfLinkIsBusy f4d0 end:f4f1
func Pipe_ValidateEntry f4f1 end:f514
func CacheCameraPropertiesIfOutdoors f514 end:10000
# <<< END AUTO-INGESTED <<<
