# bank09.cfg — auto-created by ingest_zelda3_decomp.py

bank = 9

# >>> AUTO-INGESTED FROM zelda3 DECOMP — do not hand-edit between markers >>>
# Source: zelda3 decomp PC comments.
# Regenerate via: python tools/ingest_zelda3_decomp.py
# 200 entries (0 suppressed by hand-declared func).
func Ancilla_AddHitStars 8024 end:8091
func AncillaAdd_Blanket 8091 end:80c8
func AncillaAdd_Snoring 80c8 end:811f
func AncillaAdd_Bomb 811f end:820f
func AncillaAdd_Boomerang 820f end:85e8
func AncillaAdd_ItemReceipt 85e8 end:893e
func ItemReceipt_GiveBottledItem 893e end:8a32
func AncillaAdd_TossedPondItem 8a32 end:8ae0
func AddHappinessPondRupees 8ae0 end:8bc1
func AncillaAdd_FallingPrize 8bc1 end:8c73
func AncillaAdd_DugUpFlute 8c73 end:8cb1
func AncillaAdd_ChargedSpinAttackSparkle 8cb1 end:8d11
func AncillaAdd_ExplodingWeatherVane 8d11 end:8d90
func AncillaAdd_CutsceneDuck 8d90 end:8dd2
func AncillaAdd_SomariaPlatformPoof 8dd2 end:8df9
func AncillaAdd_SuperBombExplosion 8df9 end:8e4e
func ConfigureRevivalAncillae 8e4e end:8ee0
func AncillaAdd_CaneOfByrnaInitSpark 8ee0 end:8f1c
func AncillaAdd_LampFlame 8f1c end:8f5b
func AncillaAdd_ShovelDirt 8f5b end:8f7c
func AncillaAdd_MSCutscene 8f7c end:8fba
func AncillaAdd_DashDust 8fba end:8fc1
func AncillaAdd_DashDust_charging 8fc1 end:9031
func AncillaAdd_BlastWallFireball 9031 end:90a4
func AncillaAdd_Arrow 90a4 end:9102
func AncillaAdd_BunnyPoof 9102 end:912c
func AncillaAdd_CapePoof 912c end:915f
func AncillaAdd_DwarfPoof 915f end:91c3
func AncillaAdd_BushPoof 91c3 end:91fc
func AncillaAdd_EtherSpell 91fc end:92ac
func AncillaAdd_VictorySpin 92ac end:92f0
func AncillaAdd_MagicPowder 92f0 end:9395
func AncillaAdd_WallTapSpark 9395 end:93c2
func AncillaAdd_SwordSwingSparkle 93c2 end:93f3
func AncillaAdd_DashTremor 93f3 end:9478
func AncillaAdd_BoomerangWallClink 9478 end:94c6
func AncillaAdd_HookshotWallClink 94c6 end:94fe
func AncillaAdd_Duck_take_off 94fe end:951d
func AddBirdTravelSomething 951d end:9589
func AncillaAdd_QuakeSpell 9589 end:960b
func AncillaAdd_SpinAttackInitSpark 960b end:9692
func AncillaAdd_BlastWall 9692 end:9757
func AncillaAdd_SwordChargeSparkle 9757 end:97de
func AncillaAdd_SilverArrowSparkle 97de end:9863
func AncillaAdd_IceRodShot 9863 end:98fc
func AncillaAdd_Splash 98fc end:99e9
func AncillaAdd_GraveStone 99e9 end:9b10
func AncillaAdd_Hookshot 9b10 end:9b68
func AncillaAdd_WaterfallSplash 9b68 end:9b83
func AncillaAdd_GTCutscene 9b83 end:9c38
func AncillaAdd_DoorDebris 9c38 end:9c4f
func FireRodShot_BecomeSkullWoodsFire 9c4f end:9ce2
func Ancilla_AddAncilla 9ce2 end:9d20
func AncillaAdd_CheckForPresence 9d20 end:9d36
func AncillaAdd_ArrowFindSlot 9d36 end:9dd3
func Ancilla_CheckInitialTile_A 9dd3 end:9e44
func Ancilla_CheckInitialTileCollision_Class2 9e44 end:9e90
func Follower_CheckBlindTrigger 9e90 end:9efc
func Follower_Initialize 9efc end:9f39
func Sprite_BecomeFollower 9f39 end:9fc4
func Follower_Main 9fc4 end:a02b
func Follower_NoTimedMessage a02b end:a0e1
func Follower_CheckGameMode a0e1 end:a197
func Follower_BasicMover a197 end:a2b2
func Follower_NotFollowing a2b2 end:a318
func Follower_OldMan a318 end:a41f
func Follower_OldManUnused a41f end:a450
func Follower_DoLayers a450 end:a48e
func Follower_CheckProximityToLink a48e end:a59e
func Follower_HandleTrigger a59e end:a907
func Tagalong_Draw a907 end:a959
func Follower_AnimateMovement_preserved a959 end:ac26
func Follower_CheckForTrigger ac26 end:ac6b
func Ancilla_TerminateSelectInteractives ac6b end:acf3
func Follower_Disable acf3 end:ad06
func Ancilla_SetXY ad06 end:ad30
func AncillaAdd_ExplodingSomariaBlock ad30 end:ad6c
func Ancilla_AddRupees ad6c end:adc7
func Ancilla_TerminateSparkleObjects adc7 end:adf4
func DashDust_Motive adf4 end:ae40
func Sprite_SpawnSuperficialBombBlast ae40 end:ae64
func Sprite_SetSpawnedCoordinates ae64 end:ae7e
func Sprite_SpawnDummyDeathAnimation ae7e end:aea8
func Sprite_MagicBat_SpawnLightning aea8 end:af32
func Sprite_CheckIfScreenIsClear af32 end:af61
func Sprite_CheckIfRoomIsClear af61 end:af76
func Sprite_CheckIfOverlordsClear af76 end:af89
func Sprite_InitializeMirrorPortal af89 end:afd6
func Sprite_InitializeSlots afd6 end:b020
func Fireball_SpawnTrailGarnish b020 end:b08c
func Garnish_ExecuteUpperSlots b08c end:b097
func Garnish_ExecuteLowerSlots b097 end:b0b6
func Garnish_ExecuteSingle b0b6 end:b178
func Garnish15_ArrghusSplash b178 end:b1bd
func GarnishSpawn_PyramidDebris b1bd end:b216
func Garnish13_PyramidDebris b216 end:b2b2
func Garnish11_WitheringGanonBatFlame b2b2 end:b306
func Garnish10_GanonBatFlame b306 end:b34f
func Garnish0C_TrinexxIceBreath b34f end:b3bc
func Garnish14_KakKidDashDust b3bc end:b3c2
func Garnish_WaterTrail b3c2 end:b3ee
func Garnish0A_CannonSmoke b3ee end:b429
func Garnish09_LightningTrail b429 end:b459
func Garnish_CheckPlayerCollision b459 end:b49e
func Garnish07_BabasuFlash b49e end:b4c6
func Garnish08_KholdstareTrail b4c6 end:b4fb
func Garnish06_ZoroTrail b4fb end:b520
func Garnish12_Sparkle b520 end:b526
func Garnish_SimpleSparkle b526 end:b55d
func Garnish0E_TrinexxFireBreath b55d end:b591
func Garnish0F_BlindLaserTrail b591 end:b5bb
func Garnish04_LaserTrail b5bb end:b5de
func Garnish_ReturnIfPrepFails b5de end:b627
func Garnish03_FallingTile b627 end:b6c0
func Garnish01_FireSnakeTail b6c0 end:b6e1
func Garnish02_MothulaBeamTrail b6e1 end:b714
func Overlord_SpawnBoulder b714 end:b773
func Overlord_Main b773 end:b77e
func Overlord_ExecuteAll b77e end:b793
func Overlord_ExecuteSingle b793 end:b7dc
func Overlord19_ArmosCoordinator_bounce b7dc end:b7f5
func Overlord18_InvisibleStalfos b7f5 end:b884
func Overlord17_PotTrap b884 end:b8d1
func Overlord16_ZoroSpawner b8d1 end:b986
func Overlord15_WizzrobeSpawner b986 end:b9e8
func Overlord14_TileRoom b9e8 end:ba56
func TileRoom_SpawnTile ba56 end:baac
func Overlord10_PirogusuSpawner_left baac end:bbb2
func Overlord0A_FallingSquare bbb2 end:bc31
func SpawnFallingTile bc31 end:bc7b
func Overlord09_WallmasterSpawner bc7b end:bcc3
func Overlord08_BlobSpawner bcc3 end:bd3f
func Overlord07_MovingFloor bd3f end:bdfd
func Sprite_Overlord_PlayFallingSfx bdfd end:be0f
func Overlord05_FallingStalfos be0f end:be75
func Overlord06_BadSwitchSnake be75 end:bf09
func Overlord02_FullRoomCannons bf09 end:bf5b
func Overlord03_VerticalCannon bf5b end:bfaf
func Overlord_SpawnCannonBall bfaf end:c01e
func Overlord01_PositionTarget c01e end:c02f
func Snitch_SpawnGuard c02f end:c08d
func Overlord_CheckIfActive c08d end:c114
func Dungeon_ResetSprites c114 end:c176
func Dungeon_CacheTransSprites c176 end:c22f
func Sprite_DisableAll c22f end:c290
func Dungeon_LoadSprites c290 end:c2f5
func Sprite_ManuallySetDeathFlagUW c2f5 end:c327
func Dungeon_LoadSingleSprite c327 end:c3e8
func Dungeon_LoadSingleOverlord c3e8 end:c44e
func Sprite_ResetAll c44e end:c452
func Sprite_ResetAll_noDisable c452 end:c499
func Sprite_ReloadAll_Overworld c499 end:c49d
func Sprite_OverworldReloadAll_justLoad c49d end:c4ac
func Overworld_LoadSprites c4ac end:c55e
func Sprite_ActivateAllProxima c55e end:c58f
func Sprite_ProximityActivation c58f end:c5bb
func Sprite_ActivateWhenProximal c5bb end:c5fa
func Sprite_ActivateWhenProximalBig c5fa end:c6f5
func Sprite_Overworld_ProximityMotivatedLoad c6f5 end:c739
func Overworld_LoadProximaSpriteIfAlive c739 end:ee4c
func SpriteExplode_SpawnEA ee4c end:ef56
func Sprite_KillFriends ef56 end:f0cb
func Garnish16_ThrownItemDebris f0cb end:f198
func ScatterDebris_Draw f198 end:f1f8
func Sprite_KillSelf f1f8 end:f290
func Module12_GameOver f290 end:f2a2
func GameOver_AdvanceImmediately f2a2 end:f2a4
func Death_Func1 f2a4 end:f33b
func GameOver_DelayBeforeIris f33b end:f350
func GameOver_IrisWipe f350 end:f3de
func GameOver_SplatAndFade f3de end:f458
func Death_Func6 f458 end:f47e
func Death_Func4 f47e end:f483
func Animate_GAMEOVER_Letters_bounce f483 end:f488
func GameOver_Finalize_GAMEOVR f488 end:f4c1
func GameOver_SaveAndOrContinue f4c1 end:f50f
func Death_Func15 f50f end:f67a
func GameOver_AnimateChoiceFairy f67a end:f6a4
func GameOver_InitializeRevivalFairy f6a4 end:f6b4
func RevivalFairy_Main_bounce f6b4 end:f6b9
func GameOver_RiseALittle f6b9 end:f71d
func GameOver_Restore0D f71d end:f735
func GameOver_Restore0E f735 end:f742
func GameOver_ResituateLink f742 end:f79f
func Module17_SaveAndQuit f79f end:f7de
func Polyhedral_InitializeThread f7de end:f83d
func Polyhedral_SetShapePointer f83d end:f864
func Polyhedral_SetRotationMatrix f864 end:f8fb
func Polyhedral_OperateRotation f8fb end:f931
func Polyhedral_RotatePoint f931 end:f9d6
func Polyhedral_ProjectPoint f9d6 end:fa4f
func Polyhedral_DrawPolyhedron fa4f end:faca
func Polyhedral_SetForegroundColor faca end:fb24
func Polyhedral_CalculateCrossProduct fb24 end:fcae
func Polyhedral_SetColorMask fcae end:fd04
func Polyhedral_EmptyBitMapBuffer fd04 end:fd1e
func Polyhedral_DrawFace fd1e end:fdcf
func Polyhedral_FillLine fdcf end:feb4
func Polyhedral_SetLeft feb4 end:ff1e
func Polyhedral_SetRight ff1e end:10000
# <<< END AUTO-INGESTED <<<
