# bank06.cfg — auto-created by ingest_zelda3_decomp.py

bank = 6

# >>> AUTO-INGESTED FROM zelda3 DECOMP — do not hand-edit between markers >>>
# Source: zelda3 decomp PC comments.
# Regenerate via: python tools/ingest_zelda3_decomp.py
# 387 entries (0 suppressed by hand-declared func).
func BottleMerchant_DetectFish 8000 end:8054
func BottleMerchant_BuyFish 8054 end:809f
func Boomerang_CheatWhenNoOnesLooking 809f end:80fa
func Prepare_ApplyRumbleToSprites 80fa end:812d
func Sprite_SpawnImmediatelySmashedTerrain 812d end:814b
func Sprite_SpawnThrowableTerrain 814b end:8156
func Sprite_SpawnThrowableTerrain_silently 8156 end:8264
func Sprite_SpawnSecret 8264 end:8328
func Sprite_Main 8328 end:83d3
func Oam_ResetRegionBases 83d3 end:83f2
func Sprite_TimersAndOam 83f2 end:84c1
func Sprite_Get16BitCoords 84c1 end:84e2
func Sprite_ExecuteSingle 84e2 end:850f
func SpritePrep_ThrowableScenery 850f end:8510
func Sprite_inactiveSprite 8510 end:852e
func SpriteModule_Fall1 852e end:859c
func SpriteModule_Drown 859c end:864d
func SpriteModule_Initialize 864d end:8841
func SpritePrep_Mantle 8841 end:8859
func SpritePrep_Switch 8859 end:886d
func SpritePrep_SwitchFacingUp 886d end:886e
func SpritePrep_Snitch_bounce_1 886e end:8873
func SpritePrep_DoNothingA 8873 end:8878
func SpritePrep_Rat 8878 end:888e
func SpritePrep_Keese 888e end:88aa
func SpritePrep_Rope 88aa end:88c0
func SpritePrep_Swamola 88c0 end:88c7
func SpritePrep_Blind 88c7 end:88cf
func SpritePrep_Ganon 88cf end:88df
func SpritePrep_Pokey 88df end:88fd
func SpritePrep_MiniVitreous 88fd end:8901
func SpritePrep_Gibo 8901 end:8910
func SpritePrep_Octoballoon 8910 end:891b
func SpritePrep_AgahnimsBarrier 891b end:892c
func SpritePrep_Catfish 892c end:893b
func SpritePrep_CutsceneAgahnim 893b end:894d
func SpritePrep_Vitreous 894d end:8969
func SpritePrep_Raven 8969 end:897e
func SpritePrep_Vulture 897e end:8991
func SpritePrep_Poe 8991 end:899b
func SpritePrep_DoNothingC 899b end:899c
func SpritePrep_BlindMaiden 899c end:89d3
func SpritePrep_MiniMoldorm_bounce 89d3 end:89d8
func SpritePrep_Bomber 89d8 end:89df
func SpritePrep_BombShoppe 89df end:8a51
func SpritePrep_BullyAndVictim 8a51 end:8a59
func SpritePrep_PurpleChest 8a59 end:8a79
func SpritePrep_Smithy 8a79 end:8af0
func SpritePrep_Babasu 8af0 end:8af3
func SpritePrep_Zoro 8af3 end:8b03
func SpritePrep_LaserEye_bounce 8b03 end:8b08
func SpritePrep_Popo 8b08 end:8b0c
func SpritePrep_Popo2 8b0c end:8b12
func SpritePrep_Statue 8b12 end:8b1c
func SpritePrep_Bari 8b1c end:8b2e
func SpritePrep_GreenStalfos 8b2e end:8b34
func SpritePrep_WaterLever 8b34 end:8b3e
func SpritePrep_FireDebirando 8b3e end:8b4a
func SpritePrep_DebirandoPit 8b4a end:8b81
func SpritePrep_WeakGuard 8b81 end:8b93
func SpritePrep_WallCannon 8b93 end:8ba2
func SpritePrep_ArrowGame_bounce 8ba2 end:8ba7
func SpritePrep_IgnoreProjectiles 8ba7 end:8bab
func SpritePrep_HauntedGroveAnimal 8bab end:8bb2
func SpritePrep_HauntedGroveOstritch 8bb2 end:8bbf
func SpritePrep_DiggingGameGuy_bounce 8bbf end:8bc4
func SpritePrep_ThievesTownGrate 8bc4 end:8bcf
func SpritePrep_RupeePull 8bcf end:8bf1
func SpritePrep_Shopkeeper 8bf1 end:8c9e
func SpritePrep_Storyteller 8c9e end:8cc1
func SpritePrep_Adults 8cc1 end:8cd5
func SpritePrep_Whirlpool 8cd5 end:8cde
func SpritePrep_Sage 8cde end:8cf2
func SpritePrep_BonkItem 8cf2 end:8d46
func SpritePrep_Kiki 8d46 end:8d59
func SpritePrep_Locksmith 8d59 end:8d7f
func SpritePrep_SickKid 8d7f end:8d94
func SpritePrep_Tektite 8d94 end:8dc1
func SpritePrep_Chainchomp_bounce 8dc1 end:8dc6
func SpritePrep_BigFairy 8dc6 end:8dd1
func SpritePrep_MrsSahasrahla 8dd1 end:8dda
func SpritePrep_MagicBat 8dda end:8de0
func SpritePrep_FortuneTeller 8de0 end:8de9
func SpritePrep_FairyPond 8de9 end:8dfd
func SpritePrep_Hobo 8dfd end:8e30
func SpritePrep_MasterSword 8e30 end:8e42
func SpritePrep_Roller_HorizontalRightFirst 8e42 end:8e46
func SpritePrep_RollerLeftRight 8e46 end:8e4f
func SpritePrep_Roller_VerticalDownFirst 8e4f end:8e53
func SpritePrep_RollerUpDown 8e53 end:8e6b
func SpritePrep_Kodongo 8e6b end:8e85
func SpritePrep_Spark 8e85 end:8ec1
func SpritePrep_LostWoodsBird 8ec1 end:8ed2
func SpritePrep_LostWoodsSquirrel 8ed2 end:8ef2
func SpritePrep_Antifairy 8ef2 end:8f08
func SpritePrep_FallingIce 8f08 end:8f0f
func SpritePrep_KingZora 8f0f end:8f1c
func Sprite_ReturnIfBossFinished 8f1c end:8f3f
func SpritePrep_ArmosKnight 8f3f end:8f4d
func SpritePrep_DesertStatue 8f4d end:8f6c
func SpritePrep_DoNothingD 8f6c end:8f71
func SpritePrep_Octorok 8f71 end:8f8a
func SpritePrep_Moldorm 8f8a end:8f95
func SpritePrep_Lanmolas 8f95 end:8f9d
func SpritePrep_BigSpike 8f9d end:8fa2
func SpritePrep_SwimmingZora 8fa2 end:8fa7
func SpritePrep_Geldman 8fa7 end:8fb0
func SpritePrep_Kyameron 8fb0 end:8fc9
func SpritePrep_WalkingZora 8fc9 end:8fd6
func SpritePrep_StandardGuard 8fd6 end:9001
func SpritePrep_TrooperAndArcherSoldier 9001 end:9043
func SpritePrep_TalkingTree 9043 end:9064
func SpritePrep_CrystalSwitch 9064 end:9075
func SpritePrep_FluteKid 9075 end:90cc
func SpritePrep_MoveDown_8px 90cc end:90d5
func SpritePrep_Zazakku 90d5 end:90d6
func SpritePrep_PedestalPlaque 90d6 end:90e0
func SpritePrep_Stalfos 90e0 end:90f0
func SpritePrep_KholdstareShell 90f0 end:90fa
func SpritePrep_Kholdstare 90fa end:9107
func SpritePrep_Bumper 9107 end:910a
func SpritePrep_MoveDown_8px_Right8px 910a end:9122
func SpritePrep_HardhatBeetle 9122 end:9151
func SpritePrep_MiniHelmasaur 9151 end:915c
func SpritePrep_Fairy 915c end:916a
func SpritePrep_Absorbable 916a end:916e
func SpritePrep_OverworldBonkItem 916e end:9174
func SpritePrep_ShieldPickup 9174 end:9175
func SpritePrep_NiceBee 9175 end:9195
func SpritePrep_Agahnim 9195 end:91ae
func SpritePrep_DoNothingG 91ae end:91b4
func SpritePrep_FireBar 91b4 end:91ba
func SpritePrep_Trinexx 91ba end:91c5
func SpritePrep_HelmasaurKing 91c5 end:91d7
func SpritePrep_Spike 91d7 end:91dc
func SpritePrep_RockStal 91dc end:91e8
func SpritePrep_Blob 91e8 end:91f1
func SpritePrep_Arrghus 91f1 end:91fa
func SpritePrep_Arrghi 91fa end:922f
func SpritePrep_Mothula 922f end:924d
func SpritePrep_DoNothingH 924d end:924e
func SpritePrep_BigKey 924e end:9256
func SpritePrep_BigKey_load_graphics 9256 end:9262
func SpritePrep_SmallKey 9262 end:9267
func SpritePrep_KeySetItemDrop 9267 end:9271
func SpriteActive_Main 9271 end:9469
func Sprite_09_GiantMoldorm 9469 end:9473
func Sprite_01_Vulture_bounce 9473 end:948a
func Sprite_27_Deadrock 948a end:95d9
func Sprite_20_Sluggula 95d9 end:9673
func Sluggula_DropBomb 9673 end:9688
func Sprite_19_Poe 9688 end:9786
func Poe_Draw 9786 end:9808
func Sprite_18_MiniMoldorm 9808 end:98e4
func Sprite_12_Moblin 98e4 end:99eb
func Moblin_MaterializeSpear 99eb end:9bc4
func Moblin_Draw 9bc4 end:9c24
func Sprite_0E_Snapdragon 9c24 end:9e02
func SnapDragon_Draw 9e02 end:9e1f
func Sprite_22_Ropa 9e1f end:9ee5
func Ropa_Draw 9ee5 end:9f05
func Sprite_11_Hinox 9f05 end:9f4a
func Hinox_ThrowBomb 9f4a end:9fe1
func Hinox_FaceLink 9fe1 end:a004
func Hinox_SetDirection a004 end:a1f9
func Hinox_Draw a1f9 end:a23d
func Sprite_23_RedBari a23d end:a34e
func RedBari_Split a34e end:a3dc
func RedBari_Draw a3dc end:a409
func Sprite_13_MiniHelmasaur a409 end:a460
func Sprite_26_HardhatBeetle a460 end:a46d
func HelmasaurHardHatBeetleCommon a46d end:a4f2
func HardHatBeetle_Draw a4f2 end:a50c
func Sprite_15_Antifairy a50c end:a5c2
func Sprite_0B_Cucco a5c2 end:a67f
func Cucco_Calm a67f end:a6b1
func Chicken_Hopping a6b1 end:a6fc
func Cucco_Flee a6fc end:a727
func Cucco_DrawPANIC a727 end:a733
func Sprite_DrawDistress_custom a733 end:a78e
func Cucco_Carried a78e end:a7bb
func Cucco_DoMovement_XY a7bb end:a7d3
func Cucco_SummonAvenger a7d3 end:a84c
func BawkBawk a84c end:a86c
func Sprite_17_Hoarder a86c end:a874
func Sprite_Hoarder_Covered a874 end:a91d
func Sprite_Hoarder_Frantic a91d end:aa0c
func Sprite_CheckIfLifted_permissive aa0c end:aa48
func CoveredRupeeCrab_Draw aa48 end:aae0
func Sprite_EC_ThrownItem aae0 end:ab76
func SpriteDraw_ThrownItem_Gigantic ab76 end:ac41
func ThrowableScenery_ScatterIntoDebris ac41 end:ad03
func Entity_ApplyRumbleToSprites ad03 end:ad50
func Sprite_TransmuteToBomb ad50 end:ad6f
func Sprite_28_DarkWorldHintNPC ad6f end:ada7
func DarkWorldHintNPC_Idle ada7 end:adb5
func DarkWorldHintNPC_RestoreHealth adb5 end:aeab
func DarkWorldHintNPC_HandlePayment aeab end:af1a
func StoryTeller_1_Draw af1a end:af3b
func Sprite_2E_FluteKid af3b end:af51
func FluteKid_Human af51 end:b040
func Sprite_FluteKid_Stumpy b040 end:b173
func Sprite_FluteKid_Quaver b173 end:b1a5
func FluteKid_SpawnQuaver b1a5 end:b1ee
func Sprite_1A_Smithy b1ee end:b1fd
func Smithy_Homecoming b1fd end:b274
func Smithy_Frog b274 end:b308
func ReturningSmithy_Draw b308 end:b339
func SmithyFrog_Draw b339 end:b34e
func Smithy_Main b34e end:b43d
func Smithy_ListenForHammer b43d end:b5a6
func Smithy_SpawnDwarfPal b5a6 end:b673
func Smithy_Draw b673 end:b6a3
func Smithy_Spark b6a3 end:b6cd
func Smithy_SpawnSpark b6cd end:b72c
func SmithySpark_Draw b72c end:b754
func Sprite_1B_Arrow b754 end:b867
func EnemyArrow_Draw b867 end:b8d0
func Sprite_1E_CrystalSwitch b8d0 end:b94c
func Sprite_1F_SickKid b94c end:b9fa
func Sprite_21_WaterSwitch b9fa end:bb22
func PushSwitch_Draw bb22 end:bcac
func Sprite_39_Locksmith bcac end:bdac
func MiddleAgedMan_Draw bdac end:bdc1
func Sprite_2B_Hobo bdc1 end:bdd0
func Sprite_Hobo_Bum bdd0 end:be9d
func SpritePrep_Hobo_SpawnSmoke be9d end:beb4
func Sprite_Hobo_Bubble beb4 end:beed
func Hobo_SpawnBubble beed end:bf15
func Sprite_Hobo_Fire bf15 end:bf4b
func SpritePrep_Hobo_SpawnFire bf4b end:bf81
func Sprite_Hobo_Smoke bf81 end:bfaf
func Hobo_SpawnSmoke bfaf end:bfe0
func Sprite_73_UncleAndPriest bfe0 end:bfe5
func SpritePrep_UncleAndPriest_bounce bfe5 end:bff9
func SpritePrep_OldMan_bounce bff9 end:bffe
func Sprite_TutorialGuardOrBarrier bffe end:c00d
func Sprite_F2_MedallionTablet c00d end:c017
func Sprite_33_RupeePull c017 end:c01c
func Sprite_14_ThievesTownGrate c01c end:c026
func SpritePrep_Snitch_bounce_2 c026 end:c030
func SpritePrep_Snitch_bounce_3 c030 end:c03a
func Sprite_37_Waterfall c03a end:c03f
func Sprite_38_EyeStatue c03f end:c044
func Sprite_3A_MagicBat c044 end:c06c
func SpritePrep_Zelda_bounce c06c end:c071
func Sprite_78_MrsSahasrahla c071 end:c08a
func Sprite_16_Elder_bounce c08a end:c0a8
func SpritePrep_HeartPiece c0a8 end:c0b2
func Sprite_2D_TelepathicTile c0b2 end:c0d5
func Sprite_25_TalkingTree c0d5 end:c0e8
func Sprite_1C_Statue c0e8 end:c203
func Statue_CheckForSwitch c203 end:c264
func MovableStatue_Draw c264 end:c277
func Statue_BlockSprites c277 end:c2e5
func Sprite_1D_FluteQuest c2e5 end:c319
func Sprite_72_FairyPond c319 end:c41d
func Sprite_WishPond2 c41d end:c44c
func Sprite_HappinessPond c44c end:c4b5
func WishPond2_Draw c4b5 end:cb26
func FaerieQueen_Draw cb26 end:cba2
func Sprite_71_Leever cba2 end:ce45
func Leever_Draw ce45 end:cec0
func Sprite_D8_Heart cec0 end:cf5d
func Sprite_ZeroVelocity_XY cf5d end:cf64
func Sprite_HandleDraggingByAncilla cf64 end:cf94
func Sprite_E3_Fairy cf94 end:d011
func Fairy_CheckIfTouchable d011 end:d032
func Sprite_E4_SmallKey d032 end:d04a
func Sprite_D9_GreenRupee d04a end:d051
func Sprite_Absorbable_Main d051 end:d0ed
func Sprite_ReturnIfPhasingOut d0ed end:d116
func Sprite_CheckAbsorptionByPlayer d116 end:d13c
func Sprite_HandleAbsorptionByPlayer d13c end:d22f
func SpriteDraw_AbsorbableTransient d22f end:d2fa
func Sprite_DrawNumberedAbsorbable d2fa end:d377
func Sprite_08_Octorok d377 end:d4cd
func Octorok_FireLoogie d4cd end:d54a
func Octorock_Draw d54a end:d5b9
func Sprite_0C_OctorokStone d5b9 end:d643
func SpriteDraw_OctorokStoneCrumbling d643 end:d6aa
func Sprite_0F_Octoballoon d6aa end:d72b
func Octoballoon_RecoilLink d72b end:d784
func Octoballoon_Draw d784 end:d80e
func Octoballoon_FormBabby d80e end:d853
func Sprite_10_OctoballoonBaby d853 end:d89a
func Sprite_0D_Buzzblob d89a end:d906
func Buzzblob_SelectNewDirection d906 end:d953
func BuzzBlob_Draw d953 end:d9c0
func Sprite_BounceOffWall d9c0 end:d9d5
func Sprite_InvertSpeed_XY d9d5 end:d9ec
func Sprite_ReturnIfInactive d9ec end:d9f3
func Sprite_ReturnIfPaused d9f3 end:dc10
func SpriteDraw_SingleLarge dc10 end:dc13
func Sprite_PrepAndDrawSingleLargeNoPrep dc13 end:dc5c
func SpriteDraw_Shadow_custom dc5c end:dc64
func SpriteDraw_Shadow dc64 end:dcef
func SpriteDraw_SingleSmall dcef end:dd40
func Sprite_DrawThinAndTall dd40 end:ddb7
func Sprite_02_StalfosHead ddb7 end:de83
func SpriteModule_Carried de83 end:df6d
func CarriedSprite_CheckForThrow df6d end:dffa
func SpriteModule_Stunned dffa end:e02a
func ThrownSprite_TileAndSpriteInteraction e02a end:e0ab
func Sprite_Func8 e0ab end:e0f6
func Sprite_Func22 e0f6 end:e164
func ThrowableScenery_InteractWithSpritesAndTiles e164 end:e172
func ThrownSprite_CheckDamageToSprites e172 end:e1b2
func ThrownSprite_CheckDamageToSingleSprite e1b2 end:e229
func Sprite_ApplyRicochet e229 end:e22f
func ThrowableScenery_TransmuteIfValid e22f end:e239
func ThrowableScenery_TransmuteToDebris e239 end:e25a
func Sprite_ScheduleForBreakage e25a end:e26e
func Sprite_HalveSpeed_XY e26e end:e286
func Sprite_SpawnLeapingFish e286 end:e2ba
func SpriteStunned_Main_Func1 e2ba end:e393
func SpriteModule_Poof e393 end:e416
func Sprite_PrepOamCoord e416 end:e41e
func Sprite_PrepOamCoordOrDoubleRet e41e end:e4ab
func Sprite_CheckTileCollision2 e4ab end:e4db
func Sprite_CheckTileCollisionSingleLayer e4db end:e5b8
func Sprite_CheckForTileInDirection_horizontal e5b8 end:e5ee
func Sprite_CheckForTileInDirection_vertical e5ee end:e624
func SpriteFall_AdjustPosition e624 end:e72f
func Sprite_CheckTileInDirection e72f end:e73c
func Sprite_CheckTileProperty e73c end:e87b
func GetTileAttribute e87b end:e883
func Sprite_GetTileAttribute e883 end:e8fe
func Entity_CheckSlopedTileCollision e8fe end:e92c
func Sprite_MoveXY e92c end:e932
func Sprite_MoveX e932 end:e93e
func Sprite_MoveY e93e end:e96c
func Sprite_MoveZ e96c end:e991
func Sprite_ProjectSpeedTowardsLink e991 end:ea04
func Sprite_ApplySpeedTowardsLink ea04 end:ea2d
func Sprite_ProjectSpeedTowardsLocation ea2d end:eaa4
func Sprite_DirectionToFaceLink eaa4 end:ead1
func Sprite_IsRightOfLink ead1 end:eae8
func Sprite_IsBelowLink eae8 end:eb0a
func Sprite_IsRightOfLocation eb0a end:eb1d
func Sprite_IsBelowLocation eb1d end:eb30
func Sprite_DirectionToFaceLocation eb30 end:eb5e
func Guard_ParrySwordAttacks eb5e end:ec02
func Sprite_AttemptZapDamage ec02 end:ec5c
func Medallion_CheckSpriteDamage ec5c end:ecb7
func Ancilla_CheckDamageToSprite ecb7 end:ecbd
func Ancilla_CheckDamageToSprite_aggressive ecbd end:ece0
func Ancilla_CheckDamageToSprite_preset ece0 end:ed25
func Sprite_Func15 ed25 end:ed3f
func Sprite_CalculateSwordDamage ed3f end:ed89
func Sprite_ApplyCalculatedDamage ed89 end:edc5
func Sprite_GiveDamage edc5 end:edcb
func Sprite_Func18 edcb end:eec8
func Sprite_MiniMoldorm_Recoil eec8 end:efda
func Sprite_Func3 efda end:f145
func Sprite_CheckDamageToLink f145 end:f14a
func Sprite_CheckDamageToPlayer_1 f14a end:f154
func Sprite_CheckDamageToLink_same_layer f154 end:f15c
func Sprite_CheckDamageToLink_ignore_layer f15c end:f1f6
func Sprite_SetupHitBox00 f1f6 end:f228
func Sprite_ReturnIfLifted f228 end:f257
func Sprite_ReturnIfLiftedPermissive f257 end:f2b4
func Sprite_CheckDamageFromLink f2b4 end:f3ca
func Sprite_AttemptDamageToLinkWithCollisionCheck f3ca end:f3db
func Sprite_AttemptDamageToLinkPlusRecoil f3db end:f5e0
func Player_SetupActionHitBox f5e0 end:f645
func Sprite_DoHitBoxesFast f645 end:f688
func Sprite_ApplyRecoilToLink f688 end:f69f
func Link_PlaceWeaponTink f69f end:f6ca
func Sprite_PlaceWeaponTink f6ca end:f6d5
func Sprite_PlaceRupulseSpark_2 f6d5 end:f705
func Link_SetupHitBox_conditional f705 end:f70a
func Link_SetupHitBox f70a end:f7ef
func Sprite_SetupHitBox f7ef end:f836
func CheckIfHitBoxesOverlap f836 end:f86c
func Oam_AllocateDeferToPlayer f86c end:f8a2
func SpriteModule_Die f8a2 end:f923
func Sprite_DoTheDeath f923 end:f9bc
func ForcePrizeDrop f9bc end:f9d1
func PrepareEnemyDrop f9d1 end:fa25
func SpriteDeath_Func4 fa25 end:fb2a
func SpriteDeath_DrawPoof fb2a end:fbea
func SpriteModule_Fall2 fbea end:fd17
func SpriteDraw_FallingHelmaBeetle fd17 end:fe5b
func SpriteDraw_FallingHumanoid fe5b end:febc
func Sprite_CorrectOamEntries febc end:ff78
func Sprite_ReturnIfRecoiling ff78 end:10000
# <<< END AUTO-INGESTED <<<
