# bank1e.cfg — auto-created by ingest_zelda3_decomp.py

bank = 1e

# >>> AUTO-INGESTED FROM zelda3 DECOMP — do not hand-edit between markers >>>
# Source: zelda3 decomp PC comments.
# Regenerate via: python tools/ingest_zelda3_decomp.py
# 216 entries (0 suppressed by hand-declared func).
func HelmasaurKing_Initialize 8000 end:8019
func HelmasaurKing_Reinitialize 8019 end:8039
func Sprite_92_HelmasaurKing 8039 end:81e6
func HelmasaurKing_HandleMovement 81e6 end:8253
func HelmasaurKing_MaybeFireball 8253 end:82a0
func HelmasaurKing_SwingTail 82a0 end:8385
func HelmasaurKing_CheckMaskDamageFromHammer 8385 end:83eb
func HelmasaurKing_AttemptDamage 83eb end:847e
func HelmasaurKing_ChipAwayAtMask 847e end:848c
func HelmasaurKing_ExplodeMask 848c end:84aa
func HelmasaurKing_SpawnMaskDebris 84aa end:8517
func HelmasaurKing_SpitFireball 8517 end:853b
func HelmasaurKing_Draw 853b end:856b
func SpriteDraw_KingHelmasaur_Eyes 856b end:8686
func KingHelmasaurMask 8686 end:86e5
func KingHelmasaur_CheckBombDamage 86e5 end:87e5
func SpriteDraw_KingHelmasaur_Body 87e5 end:8805
func SpriteDraw_KingHelmasaur_Legs 8805 end:88bc
func SpriteDraw_KingHelmasaur_Mouth 88bc end:8920
func KingHelmasaur_OperateTail 8920 end:8a96
func Sprite_MadBatterBolt 8a96 end:8bbf
func Sprite_AA_Pikit 8bbf end:8dd2
func Sprite_A8_GreenZirro 8dd2 end:8f81
func Zirro_DropBomb 8f81 end:8fdf
func Sprite_StalfosBone 8fdf end:9040
func StalfosBone_Draw 9040 end:906c
func Sprite_A7_Stalfos 906c end:90b5
func Stalfos_Skellington 90b5 end:919f
func Sprite_Zazak_Main 919f end:92e4
func Sprite_SpawnFirePhlegm 92e4 end:9379
func Stalfos_ThrowBone 9379 end:9443
func FirePhlegm_Draw 9443 end:9460
func Sprite_A3_KholdstareShell 9460 end:94dd
func GenerateIceball 94dd end:9518
func Sprite_A2_Kholdstare 9518 end:96a5
func Kholdstare_SpawnPuffCloudGarnish 96a5 end:9710
func Sprite_A4_FallingIce 9710 end:97cf
func IceBall_Split 97cf end:981d
func Sprite_A1_Freezor 981d end:995b
func Sprite_9E_HauntedGroveOstritch 995b end:9a4b
func FluteBoyOstrich_Draw 9a4b end:9a6d
func Sprite_9F_HauntedGroveRabbit 9a6d end:9aec
func Sprite_A0_HauntedGroveBird 9aec end:9b9c
func HauntedGroveBird_Blink 9b9c end:9bc8
func Sprite_9C_Zoro 9bc8 end:9bd0
func Zoro 9bd0 end:9c6b
func Babasu 9c6b end:9d1b
func Sprite_9B_Wizzrobe 9d1b end:9e15
func Wizzrobe_FireBeam 9e15 end:9e7b
func Sprite_9A_Kyameron 9e7b end:a001
func Sprite_GarnishSpawn_Sparkle_limited a001 end:a007
func Sprite_GarnishSpawn_Sparkle a007 end:a158
func Kyameron_Draw a158 end:a196
func Sprite_99_Pengator a196 end:a415
func Pengator_Draw a415 end:a462
func Sprite_LaserBeam a462 end:a488
func LaserBeam_BuildUpGarnish a488 end:a541
func Sprite_95_LaserEyeLeft a541 end:a5d8
func LaserEye_FireBeam a5d8 end:a708
func LaserEye_Draw a708 end:a742
func Sprite_94_Pirogusu a742 end:a897
func Pirogusu_SpawnSplash a897 end:a93b
func Pirogusu_Draw a93b end:a982
func Sprite_93_Bumper a982 end:aa8b
func Bumper_Draw aa8b end:aaa7
func Sprite_91_StalfosKnight aaa7 end:ae04
func StalfosKnight_Draw ae04 end:ae4e
func SpriteDraw_StalfosKnight_Head ae4e end:aea4
func Sprite_90_Wallmaster aea4 end:afe4
func WallMaster_Draw afe4 end:b002
func Sprite_8F_Blob b002 end:b1c5
func Zol_Draw b1c5 end:b26f
func Sprite_8E_Terrorpin b26f end:b3a3
func Terrorpin_CheckForHammer b3a3 end:b405
func Terrorpin_SetUpHammerHitBox b405 end:b433
func Sprite_8C_Arrghus b433 end:b840
func Arrghus_Draw b840 end:b8b4
func Arrghus_HandlePuffs b8b4 end:b8c4
func Sprite_8D_Arrghi b8c4 end:b9a9
func Sprite_8B_Gibdo b9a9 end:bb20
func Gibdo_Draw bb20 end:bb42
func Sprite_89_MothulaBeam bb42 end:bbb9
func Sprite_94_Tile bbb9 end:bcca
func FlyingTile_Draw bcca end:bce8
func Sprite_8A_SpikeBlock bce8 end:be19
func SpikeBlock_CheckStatueCollision be19 end:be7e
func Sprite_88_Mothula be7e end:be88
func Mothula_Main be88 end:bf9f
func Mothula_FlapWings bf9f end:bfdf
func Mothula_SpawnBeams bfdf end:c088
func Mothula_HandleSpikes c088 end:c103
func Sprite_86_Kodongo c103 end:c158
func Kodongo_SetDirection c158 end:c223
func Kodongo_SpawnFire c223 end:c274
func Sprite_87_KodongoFire c274 end:c35c
func Flame_Draw c35c end:c37f
func Sprite_85_YellowStalfos c37f end:c509
func YellowStalfos_Animate c509 end:c580
func YellowStalfos_EmancipateHead c580 end:c655
func YellowStalfos_Draw c655 end:c69a
func YellowStalfos_DrawHead c69a end:c700
func SpritePrep_Eyegore c700 end:c79b
func Sprite_83_GreenEyegore c79b end:c839
func Eyegore_Main c839 end:cacf
func Eyegore_Draw cacf end:cb0c
func SpritePrep_AntifairyCircle cb0c end:cb97
func Sprite_82_AntifairyCircle cb97 end:cc02
func Sprite_81_Hover cc02 end:cce3
func CrystalCutscene_Initialize cce3 end:cd48
func CrystalCutscene_SpawnMaiden cd48 end:cdd9
func CrystalCutscene_InitializePolyhedral cdd9 end:ce03
func Sprite_AB_CrystalMaiden ce03 end:ce39
func CrystalMaiden_RunCutscene ce39 end:cf47
func Sprite_7D_BigSpike cf47 end:cfff
func SpikeTrap_Draw cfff end:d01a
func Sprite_7E_Firebar_Clockwise d01a end:d049
func Firebar_Main d049 end:d1d1
func Sprite_80_Firesnake d1d1 end:d239
func Firesnake_SpawnFireball d239 end:d299
func Sprite_7C_GreenStalfos d299 end:d330
func Sprite_7A_Agahnim d330 end:d67a
func Agahnim_PerformAttack d67a end:d978
func Agahnim_Draw d978 end:da42
func Sprite_7B_AgahnimBalls da42 end:db96
func CreateSixBlueBalls db96 end:dc3e
func SeekerEnergyBall_Draw dc3e end:dc5b
func Sprite_79_Bee dc5b end:dc68
func Bee_DormantHive dc68 end:dc8f
func SpawnBeeFromHive dc8f end:dc9b
func InitializeSpawnedBee dc9b end:dccf
func ReleaseBeeFromBottle dccf end:dd45
func Bee_Main dd45 end:de2e
func Sprite_Find_EmptyBottle de2e end:de44
func Bee_HandleInteractions de44 end:de63
func Sprite_B2_PlayerBee de63 end:de90
func GoldBee_SpawnSelf de90 end:df8a
func Bee_HandleZ df8a end:dfab
func PlayerBee_FindTarget dfab end:e02e
func Bee_Bzzt e02e end:e044
func Sprite_B3_PedestalPlaque e044 end:e0dd
func Sprite_B4_PurpleChest e0dd end:e111
func Sprite_B5_BombShop e111 end:e134
func Sprite_BombShop_Clerk e134 end:e190
func Sprite_BombShop_Bomb e190 end:e1df
func Sprite_BombShop_SuperBomb e1df end:e21a
func Sprite_BombShop_Huff e21a end:e256
func BombShop_ClerkExhalation e256 end:e2c6
func BombShopEntity_Draw e2c6 end:e2ef
func Sprite_B6_Kiki e2ef end:e2fe
func Kiki_Flee e2fe end:e3af
func Kiki_OfferInitialService e3af end:e4c9
func Kiki_OfferEntranceService e4c9 end:e66b
func Kiki_RevertToSprite e66b end:e67a
func Kiki_SpawnHandlerMonke e67a end:e6c7
func Kiki_SpawnHandler_A e6c7 end:e6d0
func Kiki_SpawnHandler_B e6d0 end:e859
func Kiki_Draw e859 end:e8b6
func Sprite_B7_BlindMaiden e8b6 end:e938
func OldMan_RevertToSprite e938 end:e989
func OldMan_EnableCutscene e989 end:e992
func Sprite_AD_OldMan e992 end:eae7
func Sprite_B8_DialogueTester eae7 end:eb33
func Sprite_B9_BullyAndPinkBall eb33 end:eb40
func Sprite_PinkBall eb40 end:ec4d
func PinkBall_HandleDeceleration ec4d end:ec74
func PinkBall_Distress ec74 end:ec7c
func Sprite_Bully ec7c end:ed9e
func Bully_Draw ed9e end:edc2
func BallGuy_PlayBounceNoise edc2 end:edc9
func SpawnBully edc9 end:ede8
func PinkBall_HandleMessage ede8 end:ee25
func Bully_HandleMessage ee25 end:ee5a
func Sprite_BA_Whirlpool ee5a end:eeef
func Sprite_BB_Shopkeeper eeef end:ef12
func Shopkeeper_StandardClerk ef12 end:ef90
func ChestGameGuy ef90 end:f017
func NiceThief_Animate f017 end:f038
func NiceThiefWithGift f038 end:f078
func MiniChestGameGuy f078 end:f0f3
func LostWoodsChestGameGuy f0f3 end:f14f
func NiceThiefUnderRock f14f end:f16e
func ShopItem_RedPotion150 f16e end:f1b3
func ShopKeeper_SpawnShopItem f1b3 end:f1f2
func ShopItem_FighterShield f1f2 end:f230
func ShopItem_FireShield f230 end:f261
func ShopItem_MakeShieldsDeflect f261 end:f27d
func ShopItem_Heart f27d end:f2af
func ShopItem_Arrows f2af end:f2f0
func ShopItem_Bombs f2f0 end:f322
func ShopItem_Bee f322 end:f366
func ShopItem_HandleReceipt f366 end:f38a
func ShopItem_PlayBeep f38a end:f391
func ShopItem_CheckForAPress f391 end:f39e
func ShopItem_HandleCost f39e end:f4ce
func SpriteDraw_ShopItem f4ce end:f4f3
func Sprite_BehaveAsBarrier f4f3 end:f508
func Sprite_HaltAllMovement f508 end:f515
func Sprite_AC_Apple f515 end:f535
func SpawnApple f535 end:f57c
func Sprite_Apple f57c end:f603
func Sprite_BC_Drunkard f603 end:f640
func SomariaPlatform_LocatePath f640 end:f6d4
func Sprite_ED_SomariaPlatform f6d4 end:f7af
func SomariaPlatformAndPipe_HandleMovement f7af end:f7c2
func SomariaPlatformAndPipe_CheckTile f7c2 end:f860
func SomariaPlatform_Draw f860 end:f87d
func SomariaPlatform_HandleJunctions f87d end:f8ad
func SomariaPlatform_HandleDragX f8ad end:f8d7
func SomariaPlatform_HandleDragY f8d7 end:f901
func SomariaPlatform_HandleDrag f901 end:fb49
func SomariaPlatform_DragLink fb49 end:fb7e
func Sprite_AE_Pipe_Down fb7e end:fcff
func Pipe_HandlePlayerMovement fcff end:fd1c
func Faerie_HandleMovement fd1c end:fe33
func ReleaseFairy fe33 end:ff8d
func Sprite_DrawRippleIfInWater ff8d end:10000
# <<< END AUTO-INGESTED <<<
